.deckAdderButton{
    border-radius: 20px;
    background: rgb(56, 186, 247);
    padding: 25px 45px;
    margin: 20px;
    font-size: 20px;
    color: white;
    transition-duration: 0.2s;
}

.deckAdderButton:hover{   
    padding: 26px 46px;
    margin: 19px;
    border-color: white;
    border-width: 2px;
    cursor: pointer;
}
