.title{
    color:rgb(228, 228, 228);
    font-size: 70px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline rgb(228, 228, 228, 0);   
    transition: text-decoration-color .3s, font-size .2s;
}

.title:hover{
  text-decoration-color: rgb(228, 228, 228, 1);
}

@media (max-width: 488px) {
  .title{
    font-size: 60px;
  }
}
  