.wrapper{
    margin-top: 100px;
}

.cardState{
    color: white;
    font-family: 'Archivo', sans-serif;
    font-size: 25px;
    font-weight: bold;
    opacity: 25%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.cardState:hover{
    cursor:default;
}

#card{
    background: rgb(105, 105, 105);
    border-radius: 35px;
    padding: 60px;  
    margin: auto;
    margin-top: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 20px;
    border-color: white;
    transition-duration: .2s;
    font-family: 'Archivo', sans-serif;
    font-size: 25px;
}

#card:hover{
    cursor: pointer;
    background: rgb(128, 128, 128);
    padding: 65px;
    border-width: 20px;
    border-color: white;
}


.turn{
    animation-name: turnAround;
    animation-duration: .5s;
}



@media (max-width: 625px) {
    #card{
        height: 100px;
        width: 250px;
        font-size: 18px;
    }

    #card:hover{
        cursor: pointer;
        padding: 65px;
    }
}

/*@keyframes turnAround {
    0% {
        transform: perspective(800px) rotateY(0deg);
    }
    100% {
        transform: perspective(800px) rotateY(180deg);
    }
}*/

